#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: black;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
  background-color: black;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #000000;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

.swiper-button-prev {
    color: rgba(255, 255, 255, 0.7);
}

.swiper-button-next {
    color: rgba(255, 255, 255, 0.7);
}

.swiper-pagination-bullet-active {
  background-color: red;
  display: inline-block;
  width: 2rem;
  height: 2rem;
}

a {
  color: #fff;
}

a:hover {
  color: rgb(197, 197, 197);
  text-decoration: none;
}
